@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

:root {
    --navy: #2532A6;
    --white: #ffffff;
    --black: #000000;
    --yellow: #ffc107;
    --green: #7AA86B;
    --orange: #FFA54A;
    --grey: #C0C0C0;
    --navbutton: var(--yellow);
    --background: var(--navy);
}

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100vh;
    font-family: 'Fredoka One', cursive;
}

#container {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#game-container {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--background);
}

#nav_btns {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background);
}

#title h1 {
    position: relative;
    z-index: 100;
    color: var(--white);
    font-size: 100px;
    text-align: center;
}

/*--- buttons ---*/

#menu-btn {
    position: relative;
}

.stn-btn {
    position: relative;
    appearance: none;
    border: 2px solid;
    border-radius: 0.6em;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    line-height: 1;
    margin: 10px 5px;
    padding: 0.8em 1.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    z-index: 1;
}

.btn-animation {
    border-color: var(--navbutton);
    color: var(--black);
    background-color: var(--navy);
    box-shadow: 0 0 40px 40px var(--navbutton) inset, 0 0 0 0 var(--navbutton);
    transition: all 150ms ease-in-out;
}

.btn-animation:hover {
    box-shadow: 0 0 10px 0 var(--navbutton) inset, 0 0 10px 4px var(--navbutton);
    color: var(--navbutton);
}

/*--- landing page background ---*/

.area {
    background: var(--background);
    width: 100%;
    height: 100vh;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    text-align: center;
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 35%;
    width: 80px;
    height: 80px;
    background: var(--orange);
    animation-delay: 0s;
    font-size: 380%;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 40px;
    height: 40px;
    background: var(--orange);
    animation-delay: 2s;
    animation-duration: 12s;
    font-size: 195%;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 25px;
    height: 25px;
    background: var(--grey);
    animation-delay: 4s;
    animation-duration: 22s;
    font-size: 125%;
}

.circles li:nth-child(4) {
    left: 44%;
    width: 60px;
    height: 60px;
    background: var(--grey);
    animation-delay: 0s;
    animation-duration: 18s;
    font-size: 290%;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    background: var(--green);
    animation-delay: 0s;
    font-size: 195%;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    background: var(--green);
    animation-delay: 3s;
    font-size: 565%;
}

.circles li:nth-child(7) {
    left: 21%;
    width: 150px;
    height: 150px;
    background: var(--green);
    animation-delay: 7s;
    font-size: 810%;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    background: var(--green);
    animation-delay: 0s;
    animation-duration: 14s;
    font-size: 125%;
}

.circles li:nth-child(9) {
    left: 16%;
    width: 25px;
    height: 25px;
    background: var(--grey);
    animation-delay: 2s;
    animation-duration: 25s;
    font-size: 125%;
}

.circles li:nth-child(10) {
    left: 89%;
    width: 150px;
    height: 150px;
    background: var(--orange);
    animation-delay: 0s;
    animation-duration: 11s;
    font-size: 810%;
}

.circles li:nth-child(11) {
    left: 56%;
    width: 60px;
    height: 60px;
    background: var(--orange);
    animation-delay: 0s;
    animation-duration: 11s;
    font-size: 290%;
}

.circles li:nth-child(12) {
    left: 0%;
    width: 80px;
    height: 80px;
    background: var(--grey);
    animation-delay: 0s;
    animation-duration: 15s;
    font-size: 380%;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 10%;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
    }
}

/*--- input fields ---*/

input {
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 5px;
    font-size: xxx-large;
    font-family: 'Fredoka One', cursive;
    text-align: center;
    border-style: none;
    border-radius: 5%;
}

#output-boxes {
    flex-direction: column;
}

#output-boxes form,
#input-boxes,
#input-submit {
    display: flex;
    justify-content: center;
}

.input-bg-green {
    background-color: var(--green);
}

.input-bg-amber {
    background-color: var(--orange);
}

.input-bg-grey {
    background-color: var(--grey);
}

/*--- Flash messages ---*/

.flashes p {
    font-size: large;
    color: white;
    text-align: center;
}

/*--- Modal ---*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: var(--background);
    text-align: center;
    color: var(--white);
    margin: 15% auto;
    padding: 20px;
    border: var(--background);
    width: 20%;
}

.modal-content p {
    font-size: large;
    padding-top: 5px;
}

.revealed-word {
    text-transform: uppercase;
}

.close {
    color: var(--white);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--yellow);
    text-decoration: none;
    cursor: pointer;
}

/* ------ Media Queries ------ */
@media only screen and (max-width: 992px) {
    .modal-content {
        width: 40%;
    }
}

@media only screen and (max-width: 768px) {
    .modal-content {
        width: 60%;
    }
}

@media only screen and (max-width: 576px) {
    .modal-content {
        width: 80%;
    }
}

@media only screen and (max-width: 375px) {
    input {
        width: 45px;
        height: 45px;
        margin: 4px;
    }
}