{% extends "base.html" %}

{% block styles %}

<div id="input-boxes">
    {% if started %}
    {% for key in results.items() %}
    <form action="">
        {% for letter in key[0] %}
        {% set iteration = loop.index0 %}
        {% if key[1][iteration] == '3' %}
        {% set row_class = "input-bg-green" %}
        {% elif key[1][iteration] == '2' %}
        {% set row_class = "input-bg-amber" %}
        {% else %}
        {% set row_class = "input-bg-grey" %}
        {% endif %}
        <input type="text" class="{{ row_class }}" value="{{ letter }}" maxlength="1" style="text-transform:uppercase">
        {% endfor %}
    </form>
    {% endfor %}
    {% endif %}
    <form id="char-input-form" method="POST" action="{{ url_for('start_game') }}">
        <input type="text" class="char-input-box" id="1" name="char-1" maxlength="1" style="text-transform:uppercase">
        <input type="text" class="char-input-box" id="2" name="char-2" maxlength="1" style="text-transform:uppercase">
        <input type="text" class="char-input-box" id="3" name="char-3" maxlength="1" style="text-transform:uppercase">
        <input type="text" class="char-input-box" id="4" name="char-4" maxlength="1" style="text-transform:uppercase">
        <input type="text" class="char-input-box" id="5" name="char-5" maxlength="1" style="text-transform:uppercase">
        <button type="submit">Submit</button>
    </form>
</div>

<a href="{{ url_for('home') }}">
    Quit
</a>

{% endblock %}
{% block scripts %}

<script src="{{ url_for('static', filename='js/game_screen.js') }}"></script>

{% endblock %}