{% extends "base.html" %}

{% block styles %}

<div id="input-boxes">
    <form id="char-input-form" method="POST" action="{{ url_for('submit_word') }}">
        <input type="text" class="char-input-box" id="1" name="char-1" maxlength="1" style="text-transform:uppercase">
        <input type="text" class="char-input-box" id="2" name="char-2" maxlength="1" style="text-transform:uppercase">
        <input type="text" class="char-input-box" id="3" name="char-3" maxlength="1" style="text-transform:uppercase">
        <input type="text" class="char-input-box" id="4" name="char-4" maxlength="1" style="text-transform:uppercase">
        <input type="text" class="char-input-box" id="5" name="char-5" maxlength="1" style="text-transform:uppercase">
        <button type="submit">Submit</button>
    </form>
</div>

{% endblock %}
{% block scripts %}

<script src="{{ url_for('static', filename='js/game_screen.js') }}"></script>

{% endblock %}